/* src/App.css */

/* Ensure overall content is centered */
.app {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal centering */
  height: 100vh; /* Viewport height */
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding-top: 20px; /* Top spacing */
  box-sizing: border-box; /* Include padding and border */
  margin: 24px;
}

/* Ensure header and content areas are consistent */
.content {
  text-align: left; /* Text left-aligned */
  max-width: 672px; /* Maximum width */
  width: 100%; /* Container width */
  padding: 0 20px; /* Content area padding, aligned with header padding */
  margin-top: 20px; /* Spacing from top */
}
.content p {
  margin-bottom: 10px; /* Spacing between paragraphs */
}
/* Styles for header */
.header {
  width: 100%; /* Full container width */
  background-color: #000; /* Black background */
  padding: 10px 0; /* Top and bottom padding */
  box-sizing: border-box; /* Include padding and border */
}

/* Ensure header navigation content is left-aligned */
.header nav {
  display: flex;
  justify-content: flex-start; /* Left-align header content */
  gap: 20px; /* Spacing between links */
  padding-left: 0; /* Padding to adjust navigation position */
}

/* Styles for navigation links */
.header a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline */
  font-size: 1rem; /* Font size */
}

.header a:hover {
  color: #1e90ff; /* Hover color */
}

/* Styles for footer */
.footer {
  margin-top: 20px;
}

.footer-icon {
  width: 24px; /* Icon width */
  height: 24px; /* Icon height */
  vertical-align: middle; /* Vertical alignment */
}

.footer a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline */
}

.footer a:hover {
  color: #1e90ff; /* Hover color */
}
/* Ensure each project div is on a new line */
.project {
  border: 1px solid #2c2b2b; /* Border color and style */
  padding: 10px; /* Padding */
  margin-bottom: 10px; /* Spacing between each div */
  background-color: #000; /* Background color (optional) */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding and border */
}
/* Subtitle styles */
.sub-title {
  font-size: 0.8rem; /* Font size */
  color: #fff; /* Text color */
  margin-top: 5px; /* Top margin */
}
.sub-title a {
  text-decoration: none; /* Remove underline */
  color: #fff; /* Ensure link color matches subtitle color */
}
.sub-title a:hover {
  color: #1e90ff; /* Hover color */
}
/* Optional: Add a global container for .project if horizontal centering or other layout adjustments are needed */
.container {
  max-width: 600px; /* Maximum width */
  margin: 0 auto; /* Horizontal centering */
  padding: 20px; /* Container padding */
}

.light-blue-link {
  color: #89cff0; /* Baby blue */
  text-decoration: none;
}
