/* Overall content centering */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box;
}

/* Content container */
.content {
  text-align: left;
  max-width: 500px;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

/* Game content centering */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Game title */
.game h1 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  color: #fff;
}

/* Game subtitle */
.game h2 {
  text-align: left;
  width: 100%;
  margin: 20px 0;
  color: #fff;
}
